/*********************
Styles for components
**********************/


// Horizontal navigation menu used in header and footer

nav {
  display: inline-block;
  li {
    display: inline;
    text-transform: lowercase;
    padding-right: $base-leading/2;
    padding-left: $base-leading/2;
    border-right: 1px solid $color-bodytextblack;

    &:last-child {
      border-right: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
}


/* The follow map directly to React components */

// StoryListItem

.story {
  margin: $base-leading 0;

  &:first-child {
    margin-top: 0;
  }

  .title {
    padding-right: $small-horizontal-padding;
  }
}


// Comment

.comment {
  margin: $base-leading 0;

  &.nesting-1 {
    margin-left: $base-leading;
  }

  &.nesting-2 {
    margin-left: $base-leading * 2;
  }

  &.nesting-3 {
    margin-left: $base-leading * 3;
  }
}


// AddComment

.add-comment {
  .button-container {
    margin-top: $base-leading;
  }

  textarea {
    max-width: 100%;
  }
}