/**************
Styles applied to base html elements
***************/



// Typography

html {
  font-size: 62.5%; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: $color-bodytextblack;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-size: 2.0rem;
  margin: 0;
}

.font-small {
  font-size: 1.3rem;
}



// Link style

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: white;
}
