
/*********************
Common classes that can be used across the app
**********************/


.metadata-item {
  color: $color-metadatatext;
  @extend .font-small;
  padding-right: $small-horizontal-padding;
}

.loading-spinner {
  height: 10rem;
  width: 10rem;

  background-image: url("images/loading-spinner.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -10rem;
  margin-top: -10rem;
}