/**************
Variables for colors, lengths, fonts
***************/


$base-leading: 2rem; // Default horizontal or vertical padding. Use multiple or 1/2 of 1/4 of $base-leading where needed.
$small-horizontal-padding: $base-leading/4;


// Colors
$color-bodytextblack: #222222;
$color-metadatatext: #888;
$color-orange: #ff7522;
$color-pagebackground: #fdf7f6;
