/*********************
Styles for the overall layout of the App. Includes styles for header, footer and main.
**********************/


.App {
  max-width: 1100px;
  min-height: 100vh;
  margin: auto;

  background: rgb(246, 246, 239);

  display: flex;
  flex-direction: column;

}

header {
  background: $color-orange;
  padding: $base-leading/2 $base-leading;

  h1, nav {
    display: inline-block;
  }
}

main {
  padding: $base-leading;
  overflow:auto; // for https://stackoverflow.com/a/27974104/1328825
}

footer {
  margin-top: auto; //pushes the footer to the bottom of the page, container .App has display:flex

  padding: $base-leading*2;
  text-align: center;

  border-top: 4px solid $color-orange;

  .search {
    margin-top: $base-leading;

    label {
      padding-right: $small-horizontal-padding;
    }
  }
}